*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 16px;
}

body h4 {
  font-weight: 500;
}

body h2 {
  font-weight: 700;
}

body button,
body li {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

body li {
  list-style: none;
}

body #main-con > * {
  padding: 20px 10%;
}

body #main-con #top-part {
  font-weight: 300;
  font-family: "Overpass", sans-serif;
  height: 400px;
  color: white;
  padding: 20px 10%;
  background-image: url("../images/bg-pattern-intro.svg");
  background-color: #ff525d;
  border-bottom-left-radius: 60px;
  margin-bottom: 20px;
}

body #main-con #top-part header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin-bottom: 40px;
}

body #main-con #top-part header .header-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body #main-con #top-part header .header-flex .logo-con {
  width: 120px;
  margin-right: 20px;
}

body #main-con #top-part header .header-flex .logo-con img {
  width: 60px;
  height: auto;
}

body #main-con #top-part header .header-flex .harmburger-con {
  display: none;
}

body #main-con #top-part header .header-flex .nav-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

body #main-con #top-part header .header-flex .nav-con .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

body #main-con #top-part header .header-flex .nav-con .nav .active {
  transform: rotate(180deg);
}

body #main-con #top-part header .header-flex .nav-con .nav li {
  margin-right: 30px;
}

body #main-con #top-part header .header-flex .nav-con .nav li picture {
  margin-left: 5px;
}

body #main-con #top-part header .header-flex .nav-con .nav section {
  position: relative;
}

body #main-con #top-part header .header-flex .nav-con .nav section .links {
  display: none;
  top: 25px;
  position: absolute;
  left: -20px;
  width: 130px;
  padding: 20px;
  text-align: left;
  color: #4b5862;
  background-color: white;
  border-radius: 10px;
  text-transform: capitalize;
}

body #main-con #top-part header .header-flex .nav-con .nav section .links li {
  margin-bottom: 10px;
}

body #main-con #top-part header .header-flex .nav-con .nav section .show-links {
  display: block;
}

body #main-con #top-part header .header-flex .login-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

body #main-con #top-part header .header-flex .login-con button {
  height: 30px;
  color: inherit;
  width: 100px;
  background-color: inherit;
  outline: none;
  border: none;
  font-size: 0.9rem;
}

body #main-con #top-part header .header-flex .login-con button:hover {
  background-color: #ff7a85;
  cursor: pointer;
  border-radius: 20px;
}

body #main-con #top-part header .header-flex .login-con button:nth-child(2) {
  background-color: white;
  color: #ff525d;
  border-radius: 20px;
}

body #main-con #top-part #hero-con {
  text-align: center;
  margin-bottom: 130px;
}

body #main-con #top-part #hero-con > * {
  margin-bottom: 10px;
}

body #main-con #top-part #hero-con h2 {
  font-size: 4rem;
}

body #main-con #top-part #hero-con p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

body #main-con #top-part #hero-con .btn-con button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: inherit;
  border: none;
  border-radius: 20px;
}

body #main-con #top-part #hero-con .btn-con .start-free {
  cursor: pointer;
  background-color: white;
  color: #ff525d;
  border-radius: 20px;
}

body #main-con #top-part #hero-con .btn-con .learn-more {
  border: 1px solid white;
  color: white;
}

body #main-con .future {
  padding-top: 100px;
  padding-bottom: 130px;
  overflow: hidden;
}

body #main-con .future h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

body #main-con .future .future-flex-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  position: relative;
}

body #main-con .future .future-flex-con .text-con .text {
  line-height: 25px;
  margin-bottom: 30px;
}

body #main-con .future .future-flex-con .text-con .text h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

body #main-con .future .future-flex-con .text-con .text p {
  font-size: 0.9rem;
  padding-right: 50px;
}

body #main-con .future .future-flex-con .img-con {
  position: absolute;
  right: -480px;
  top: -150px;
}

body #main-con .future .future-flex-con .img-con picture img {
  width: 80%;
}

body #main-con .art {
  background-image: url("../images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #3f4164;
  margin-bottom: 120px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
  height: 400px;
  margin-top: 50px;
}

body #main-con .art .art-flex-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px;
  column-gap: 50px;
  color: white;
  position: relative;
}

body #main-con .art .art-flex-con .img-con {
  margin-right: 30px;
}

body #main-con .art .art-flex-con .img-con img {
  position: absolute;
  top: -90px;
  left: -30px;
  width: 45%;
}

body #main-con .art .art-flex-con .art-text-con {
  padding-top: 60px;
  line-height: 30px;
}

body #main-con .art .art-flex-con .art-text-con p {
  font-size: 1.2rem;
}

body #main-con .art .art-flex-con .art-text-con h3 {
  font-size: 2rem;
}

body #main-con .simple {
  height: 500px;
  margin-bottom: 100px;
  padding-top: 120px;
  padding-bottom: 100px;
}

body #main-con .simple .simple-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px;
  column-gap: 50px;
}

body #main-con .simple .simple-con .img-con {
  position: relative;
}

body #main-con .simple .simple-con .img-con picture {
  position: absolute;
  top: -150px;
  left: -400px;
}

body #main-con .simple .simple-con .img-con picture img {
  width: 90%;
}

body #main-con .simple .simple-con .simple-min-text-con {
  line-height: 30px;
}

body #main-con .simple .simple-con .simple-min-text-con h3 {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

body #main-con .simple .simple-con .simple-min-text-con p {
  font-size: 0.9rem;
  margin-bottom: 30px;
}

body #main-con footer {
  height: auto;
  color: white;
  background-color: #25252d;
  font-size: 1.2rem;
  border-top-right-radius: 70px;
  padding-top: 70px;
}

body #main-con footer .footer-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  text-align: center;
  margin-bottom: 10px;
}

body #main-con footer .footer-con ul {
  text-align: justify;
}

body #main-con footer .footer-con ul li {
  margin-bottom: 10px;
}

body #main-con footer .footer-con ul li:first-child {
  margin-bottom: 20px;
}

body #main-con footer .footer-con ul li:hover {
  text-decoration: underline;
}

body #main-con .attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

body #main-con .attribution a {
  color: white;
}

@media screen and (max-width: 1175px) {
  body #main-con #top-part #hero-con h2 {
    font-size: 3.5rem;
  }
  body #main-con #top-part #hero-con p {
    font-size: 1.5rem;
  }
  body #main-con .future .future-flex-con .text-con .text h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  body #main-con .future .future-flex-con .text-con .text p {
    padding-right: 30px;
  }
  body #main-con .future .future-flex-con .img-con {
    position: absolute;
    right: -480px;
    top: -150px;
  }
  body #main-con .future .future-flex-con .img-con picture img {
    width: 80%;
  }
  body #main-con .art {
    height: 300px;
  }
  body #main-con .art .art-flex-con {
    column-gap: 30px;
  }
  body #main-con .art .art-flex-con .img-con img {
    width: 50%;
  }
  body #main-con .art .art-flex-con .art-text-con {
    padding-top: 30px;
  }
  body #main-con .art .art-flex-con .art-text-con p {
    font-size: 1rem;
  }
  body #main-con .art .art-flex-con .art-text-con h3 {
    font-size: 1.5rem;
  }
  body #main-con .simple {
    height: 500px;
  }
  body #main-con .simple .simple-con .img-con picture {
    top: -120px;
    left: -280px;
  }
  body #main-con .simple .simple-con .img-con picture img {
    width: 100%;
  }
  body #main-con .simple .simple-con .simple-min-text-con {
    line-height: 30px;
  }
  body #main-con .simple .simple-con .simple-min-text-con h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
  body #main-con .simple .simple-con .simple-min-text-con p {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1050px) {
  body #main-con #top-part #hero-con h2 {
    font-size: 3rem;
  }
  body #main-con #top-part #hero-con p {
    font-size: 1.4rem;
  }
  body #main-con .future .future-flex-con .text-con .text {
    margin-bottom: 10px;
  }
  body #main-con .future .future-flex-con .text-con .text h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  body #main-con .future .future-flex-con .text-con .text p {
    font-size: 0.9rem;
    padding-right: 30px;
  }
  body #main-con .future .future-flex-con .img-con {
    right: -546px;
    top: -130px;
  }
  body #main-con .future .future-flex-con .img-con picture img {
    width: 70%;
  }
  body #main-con .simple .simple-con .simple-min-text-con {
    line-height: 25px;
  }
  body #main-con .simple .simple-con .simple-min-text-con h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
  body #main-con .simple .simple-con .simple-min-text-con p {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 900px) {
  body #main-con #top-part header .header-flex .logo-con {
    width: 90px;
    margin-right: 0px;
  }
  body #main-con #top-part header .header-flex .logo-con img {
    width: 60px;
    height: auto;
  }
  body #main-con #top-part header .header-flex .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
  }
  body #main-con #top-part header .login-con button {
    font-size: 0.8rem;
  }
  body #main-con #top-part #hero-con h2 {
    font-size: 1.6rem;
  }
  body #main-con .future h2 {
    text-align: center;
  }
  body #main-con .future .future-flex-con {
    column-gap: 30px;
  }
  body #main-con .future .future-flex-con .text-con .text h3 {
    font-size: 1.2rem;
  }
  body #main-con .future .future-flex-con .text-con .text p {
    font-size: 0.8rem;
  }
  body #main-con .future .future-flex-con .img-con {
    right: -602px;
  }
  body #main-con .future .future-flex-con .img-con picture img {
    width: 60%;
  }
  body #main-con .art .art-flex-con {
    column-gap: 30px;
  }
  body #main-con .art .art-flex-con .img-con img {
    top: -70px;
    left: -50px;
  }
  body #main-con .art .art-flex-con .art-text-con {
    padding-top: 0px;
  }
  body #main-con .art .art-flex-con .art-text-con p {
    font-size: 0.8rem;
  }
  body #main-con .art .art-flex-con .art-text-con h3 {
    font-size: 1.5rem;
  }
  body #main-con footer .footer-con ul {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 750px) {
  body #main-con #top-part {
    height: fit-content;
    border-bottom-left-radius: 90px;
  }
  body #main-con #top-part header {
    position: relative;
    margin-bottom: 50px;
  }
  body #main-con #top-part header .header-flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  body #main-con #top-part header .header-flex .nav-con {
    display: none;
    background-color: white;
    color: #2c2d3f;
    padding-top: 40px;
    top: 80px;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
  }
  body #main-con #top-part header .header-flex .nav-con .nav {
    font-weight: 600;
    display: block;
    text-align: center;
    border-bottom: 1px solid #c8c8cb;
    width: 100%;
  }
  body #main-con #top-part header .header-flex .nav-con .nav section li {
    margin-bottom: 20px;
  }
  body #main-con #top-part header .header-flex .nav-con .nav section li picture {
    margin-left: 5px;
  }
  body #main-con #top-part header .header-flex .nav-con .nav section .links {
    top: 10px;
    position: relative;
    left: 10%;
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: #f3f0f0;
    margin-bottom: 20px;
  }
  body #main-con #top-part header .header-flex .show-nav {
    display: block;
  }
  body #main-con #top-part header .header-flex .harmburger-con {
    display: block;
    position: relative;
  }
  body #main-con #top-part header .header-flex .harmburger-con .close-btn {
    display: block;
    position: absolute;
    left: 3px;
    opacity: 1;
  }
  body #main-con #top-part header .header-flex .harmburger-con .hide-btn {
    opacity: 0;
    pointer-events: none;
  }
  body #main-con #top-part header .header-flex .harmburger-con > *:hover {
    cursor: pointer;
  }
  body #main-con #top-part header .header-flex .login-con {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
  body #main-con #top-part header .header-flex .login-con button {
    position: relative;
    left: 37%;
    display: block;
    font-size: 1.2rem;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  body #main-con #top-part header .header-flex .login-con button:nth-child(2) {
    height: 40px;
    width: 140px;
    left: 35%;
    background-image: linear-gradient(to right, #ff7a85, #ff525d);
    color: white;
    border-radius: 20px;
  }
  body #main-con #top-part #hero-con {
    text-align: center;
  }
  body #main-con #top-part #hero-con > * {
    margin-bottom: 10px;
  }
  body #main-con #top-part #hero-con h2 {
    font-size: 2rem;
  }
  body #main-con #top-part #hero-con p {
    font-size: 1rem;
  }
  body #main-con #top-part #hero-con .btn-con {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
  }
  body #main-con #top-part #hero-con .btn-con button {
    width: 35%;
    height: 40px;
    color: white;
    background-color: inherit;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
  }
  body #main-con .future {
    margin-bottom: 150px;
  }
  body #main-con .future h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.5rem;
    color: #3f4164;
  }
  body #main-con .future .future-flex-con {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'image' 'text';
  }
  body #main-con .future .future-flex-con .img-con {
    grid-area: image;
    position: relative;
    right: 0px;
    top: 0px;
    margin-bottom: 20px;
  }
  body #main-con .future .future-flex-con .img-con picture img {
    width: 95%;
  }
  body #main-con .art {
    background-image: url("../images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: left center;
    height: fit-content;
    margin-bottom: 20px;
  }
  body #main-con .art .art-flex-con {
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    column-gap: 0;
  }
  body #main-con .art .art-flex-con .img-con {
    position: relative;
    top: -180px;
    left: -30px;
  }
  body #main-con .art .art-flex-con .img-con img {
    width: 400px;
    top: 0px;
    left: 0px;
  }
}

@media screen and (max-width: 750px) and (max-width: 420px) {
  body #main-con .art .art-flex-con .img-con img {
    width: 340px;
    top: 30px;
  }
}

@media screen and (max-width: 750px) {
  body #main-con .art .art-flex-con .art-text-con {
    margin-bottom: 50px;
    padding: 0px;
    line-height: 40px;
  }
  body #main-con .art .art-flex-con .art-text-con h4 {
    font-size: 2.5rem;
  }
  body #main-con .art .art-flex-con .art-text-con p {
    font-size: 1.1rem;
  }
  body #main-con .simple {
    margin-bottom: 100px;
    height: fit-content;
  }
  body #main-con .simple .simple-con {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    row-gap: 10px;
    column-gap: 0px;
  }
  body #main-con .simple .simple-con .img-con picture {
    position: relative;
    top: 0px;
    left: 0px;
  }
  body #main-con .simple .simple-con .img-con picture img {
    width: 100%;
  }
  body #main-con .simple .simple-con .simple-min-text-con {
    padding: 20px;
    color: #3f4164;
    line-height: 30px;
    margin-bottom: 30px;
  }
  body #main-con .simple .simple-con .simple-min-text-con h4 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1.6rem;
  }
  body #main-con .simple .simple-con .simple-min-text-con p {
    font-size: 1.3rem;
  }
  body #main-con footer .footer-con {
    color: #c8c8cb;
    display: block;
    margin-bottom: 10px;
  }
  body #main-con footer .footer-con .logo-con {
    margin-bottom: 50px;
  }
  body #main-con footer .footer-con ul {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 40px;
  }
  body #main-con footer .footer-con ul li {
    margin-bottom: 10px;
  }
  body #main-con footer .footer-con ul li:first-child {
    margin-bottom: 20px;
    color: white;
  }
}
/*# sourceMappingURL=styles.css.map */